# Copy this file to /etc/systemd/system/puckjs2mqtt.service and then
#     sudo systemctl start puckjs2mqtt.service
# and to start on boot:
#     sudo systemctl enable puckjs2mqtt.service
# To consult the log : sudo journalctl -u puckjs2mqtt

[Unit]
Description=PuckjsTag -> MQTT bridge
Documentation=https://github.com/luetgendorf/puckjs2mqtt

[Service]
ExecStart=/opt/puckjs2mqtt/start.sh
WorkingDirectory=/opt/puckjs2mqtt
User=pi
Group=daemon
Nice=10
SyslogIdentifier=puckjs2mqtt
StandardOutput=syslog
Restart=on-failure
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target

